* {
    margin: 0;
    padding: 0;
}

body {
    background: #121212;
    /* color: #ffffff; */
    color: #f9f9f9;
    height: 100vh;
    display: grid;
    place-content: center;
}

.container {
    background: #1E1E1E;
    /* box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(100, 100, 100, 0.25); */
    /* -8px -8px 12px 0 rgba(0, 0, 0, 0.25); */

    margin: 0 auto;
    /* width: 50vw; */
    /* width: 90vw; */
    border-radius: 25px;
    padding: 50px;
    padding-top: 20px;
    text-align: left;
    /* padding-bottom:30px; */
}

.container button {
    transition: ease 0.5s;
    background:rgba(0, 0, 0, 0.5);
    color: var(--white);
    font-size: 16px;
    
}

form {
    display: inline;
}


* {
    margin: 0;
    padding: 0;
}