{%extends 'pagebase.html' %}

{% block title %} ACFT Calculator {% endblock %}

{% block content %}
<div class="container">
    <h1>
        ACFT Calculator 🏋️‍♂️
    </h1>
    <br>
    <form action="/calculator" method="POST">
        <h3>Age and Gender</h3>
        <div class="form-group">
            <input type="number" name="age" pattern="[0-9]" class="form-control" placeholder="Enter age" required
                min="1" max="100">
        </div>
        <div class="form-group">
            <input type="text" name="gender" pattern="(?:m|M|male|Male|f|F|female|Female|FEMALE|MALE|Not prefer to say)$" class="form-control" placeholder="Enter gender as Male or Female" required>
        </div>
        <br>
        <h3>Max 3 Repetition Deadlift</h3>
        <div class="form-group">
            <input type="number" name="MDL" pattern="[0-9]" class="form-control" placeholder="Enter weight in lbs." required
                min="1" max="340">
        </div>
        <br>
        <h3>Standing Power Throw</h3>
        <div class="form-group">
            <input type="number" step= "0.1" name="SPT" pattern="[+-]?([0-9]*[.])?[0-9]+" class="form-control" placeholder="Enter distance in meters" required
                min="1" max="14">
        </div>
        <br>
        <h3>Hand Release Pushups</h3>
        <div class="form-group">
            <input type="number" name="HRP" pattern="[0-9]" class="form-control" placeholder="Enter amount of pushups" required
                min="1" max="65">
        </div>
        <br>
        <h3>Sprint Drag Carry</h3>
        <div class="form-group">
            <input type="text" name="SDC" pattern="^(?:[0-5]?[0-9]):[0-5][0-9]$" class="form-control" placeholder="Enter time as xx:xx" required>
        </div>
        <br>
        <h3>Plank</h3>
        <div class="form-group">
            <input type="text" name="PLK" pattern="^(?:[0-5]?[0-9]):[0-5][0-9]$" class="form-control" placeholder="Enter time as xx:xx" required>
        </div>
        <br>
        <h3>2 Mile Run</h3>
        <div class="form-group">
            <input type="text" name="2MR" pattern="^(?:[0-5]?[0-9]):[0-5][0-9]$" class="form-control" placeholder="Enter time as xx:xx" required>
        </div>
        <br>
        <button id="submit-button" type="submit" class="btn btn-default">Enter</button>
    </form>
    <br>
    <h1> Score Breakdown: </h1>
    <br>
    <h3> Max 3 Repetition Deadlift: {{ MDL_score }} </h3>
    <br>
    <h3> Standing Power Throw: {{ SPT_score }} </h3>
    <br>
    <h3> Hand Release Pushups: {{ HRP_score }} </h3>
    <br>
    <h3> Sprint Drag Carry: {{ SDC_score }} </h3>
    <br>
    <h3> Plank: {{ PLK_score }} </h3>
    <br>
    <h3> 2 Mile Run: {{ TWOMR_score }} </h3>
    <br>
    <h1> Total Score: {{ total_score }} </h1>

</div>

{% endblock %}